.displaysWrapper {
  position: relative;
}

svg{
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:0 auto;
}

.node{
  circle {
    fill-opacity: 0;
  }
  text{
    display: none;
  }

  &.active{
    circle {
      stroke: #fff4c2;
      stroke-width: 1px;
      fill: #ff7f0e;
      fill-opacity: .25;
    }
    text {
      display: block;
      cursor: default;
      user-select: none;
      font: 10px sans-serif;
      text-anchor: middle;
      fill: #fff4c2;
    }
  }
}
