@import '../../../styles/variables/colors';

.displaysWrapper {
  position: relative;
  margin: 2rem 0 0;
}

svg{
  position: absolute;
  background: rgba(0,0,0,0);
  top:0;
  left:0;
  right:0;
  margin:0 auto;
}

.node{
  circle {
    fill-opacity: 0;
  }
  text{
    display: none;
  }

  &:not(.leaf).active{
    circle {
      stroke: $clr_light;
      stroke-width: 1px;
      fill: $clr_orange;
      fill-opacity: .25;
    }
    text {
      display: block;
      cursor: default;
      user-select: none;
      font: 10px sans-serif;
      text-anchor: middle;
      fill: $clr_light;
    }
  }
}
